
/* ||||||||||||||||||| HEADER |||||||||||||||||||| */

:root {
   --ff-primary-1: "Madimi One", sans-serif;

   --clr-white-1: #FFFFFF;
   --clr-black-1: #0B0B0A;
   --clr-pink-1: rgb(189, 106, 106);
   --clr-pink-2: rgba(243, 213, 213, 0.678);
   --clr-yellow-1: #fcfad1;
   --clr-shadow-1: hsla(0, 0%, 65%, 0.4);
   
}

body {
   background-color: var(--clr-yellow-1);
}

.navbar {
   display: flex;
   justify-content: space-between;
   font-family: var(--ff-primary-1);
   position: fixed;
   top: 0;
   width: 100%;
   background-color: var(--clr-pink-2);
   overflow: hidden;
   margin-left: -7px;
   padding-right: 7px;
}

.nav-left {
   display: flex;
   align-items: center; 
   padding-left: 10px;
   margin-left: 30px;
}

.nav-left img {
   width: 60px;
}

.nav-left h1 {
   color: var(--clr-pink-1);
}

.nav-center {
   width: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 22px;
}

.nav-center a{
   color: var(--clr-pink-1);
}

.nav-center a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out .1s;
    color: var(--clr-pink-1);
}

.nav-right {
   
   display: flex;
   align-items: center;
   margin-right: 30px;
}

.nav-right a {
   margin: 20px;
   color: var(--clr-pink-1);
   font-size: 22px;
}

.nav-right a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out .1s;
    color: var(--clr-pink-1);
}
.nav-right-btn {
   display: flex;
   align-items: center;
   border-color: var(--clr-pink-1);
   border-radius: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 8px 20px 8px 20px;
   background-color: var(--clr-yellow-1);
}

.nav-right-btn img {
   width: 20px;
}


.nav-right-pages :hover {
   background-color: var(--clr-white-1);
   border-color: var(--clr-pink-1);
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
}

.nav-right p{
   color: var(--clr-pink-1);
}

.header-hero {
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
   border-radius: 20px;
   font-family: var(--ff-primary-1);
   display: flex;
   flex-direction: column;
   margin-top: 13rem;
   margin-right: 80px;
   margin-left: 80px;
}

.hero-formimg {
   border-radius: 20px 20px 20px 0px;
   display: flex;
}

.hero-form {
   flex: 1;
}

.hero-form h2{
   font-size: 60px;
}

.hero-form p {
   font-size: 20px;
   margin-bottom: 50px;
}

.hero-form form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hero-form form input {
   margin-bottom: 20px;
   width: 300px;
   height: 50px;
   border-color: var(--clr-pink-1);
}

.hero-form form input[type="text"] {
   padding-left: 20px;
   text-transform: uppercase;
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
   border-radius: 20px;
   font-family: var(--ff-primary-1);
}

.hero-form form input[type="text"]::placeholder {
   color: var(--clr-pink-1);
}

.hero-form form select {
   margin-bottom: 20px;
   font-size: 16px;
   width: 320px;
   height: 50px;
   text-transform: uppercase;
   font-family: var(--ff-primary-1);
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
   border-radius: 20px;
   padding-left: 20px;
   border-color: var(--clr-pink-1);
   color: var(--clr-pink-1);
}

.hero-form form select:hover {
   cursor: pointer;
   background-color: var(--clr-pink-2);
}

.herobtn {
   background-color: transparent;
   color: var(--clr-pink-1);
   border-color: var(--clr-pink-1);
   font-weight: bold;
   font-size: 18px;
   width: 320px;
   height: 50px;
   border-radius: 20px;
}

.herobtn:hover {
   background-color: var(--clr-pink-2);
   border-color: var(--clr-pink-1);
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);

}

.hero-img {
   margin-bottom: -5px;
   
}

.hero-img img{
   width: 400px; 
   border-radius: 0px 20px 0px 0px;
}

.hero-check{
   background-color: var(--clr-pink-2);
   border-radius: 0px 0px 20px 20px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   
   

}

.hero-check img{
   width: 30px;
   padding: 20px 0px 20px 100px;
   margin-right: 10px;
      
}

.hero-check p{
   color: var(--clr-pink-1);
   text-transform: uppercase;
   font-family: var(--ff-primary-1);
}
