:root {
   --ff-primary-1: "Madimi One", sans-serif;

   --clr-white-1: #FFFFFF;
   --clr-black-1: #0B0B0A;
   --clr-pink-1: rgb(189, 106, 106);
   --clr-pink-2: rgba(243, 213, 213, 0.678);
   --clr-yellow-1: #fcfad1;
   --clr-shadow-1: hsla(0, 0%, 65%, 0.4);
   
}

body {
   margin: 0;
}

/* |||||||||||||||| BTN STYLING |||||||||||||||||| */

.btn-css {
   background-color: var(--clr-white-1);
   color: var(--clr-pink-1);
   border-color: var(--clr-pink-1);
   font-weight: bold;
   font-size: 18px;
   width: 320px;
   height: 50px;
   border-radius: 20px;
}

.btn-css:hover {
   background-color: var(--clr-yellow-1);
   border-color: var(--clr-pink-1);
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
}

.btn-trash {
   background: transparent;
}

.btn-trash:hover {
   background-color: var(--clr-yellow-1);
   border: none;
}


/* |||||||||||||||| BOOKING PAGE |||||||||||||||||| */

.booking-container {
   max-width: 800px;
   width: 80%;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 80px;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: var(--clr-pink-2);
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
   border-radius: 20px;
   font-family: var(--ff-primary-1);
}

.booking-title {
   font-size: 45px;
}

.book-cleaning-title {
   font-size: 35px;
}


/* |||||||||||||||| FORM |||||||||||||||||| */

.book-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.cleaner-container label {
   margin-right: 20px;
   font-size: 20px;
}

.cleaner-container select {
   margin-bottom: 20px;
   font-size: 16px;
   width: 180px;
   height: 50px;
   text-transform: uppercase;
   font-family: var(--ff-primary-1);
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
   border-radius: 20px;
   padding-left: 20px;
   border-color: var(--clr-pink-1);
   color: var(--clr-pink-1);
}

.cleaner-container select:hover {
   cursor: pointer;
}

.date-container {
   margin-top: 20px;
   margin-bottom: 20px;
}

.date-container label {
   margin-right: 20px;
   margin-left: 30px;
   font-size: 20px;
}

.date-container input {
   width: 180px;
   height: 40px;
   margin-bottom: 20px;
   padding-left: 20px;
   box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
   border-radius: 20px;
   border-color: var(--clr-pink-1);
   font-family: var(--ff-primary-1);
   text-transform: uppercase;

}

.service-container {
   width: 80%;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-evenly;
}

.service-container label {
   margin-right: 20px;
   font-size: 20px;
}

.book-now-btn {
   margin: 10px;
}

.delete-selected-btn {
   margin: 10px;
   width: 120px;
}

.goback-btn {
   margin: 10px;
   width: 150px;
}

.booking-ul {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.booking-list {
   color: var(--clr-pink-1);
   width: 600px;
   margin: 20px 40px 20px 0;
   background-color: var(--clr-white-1);
   display: flex;
   justify-content: space-evenly;
   border: 2px solid var(--clr-pink-1);
   border-radius: 20px;
}