:root {
    --ff-primary-1: "Madimi One", sans-serif;
 
    --clr-white-1: #FFFFFF;
    --clr-black-1: #0B0B0A;
    --clr-pink-1: rgb(189, 106, 106);
    --clr-pink-2: rgb(241, 220, 220);
    --clr-yellow-1: #faf9df;
    --clr-shadow-1: hsla(0, 0%, 65%, 0.4);
    
 }

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--clr-pink-2);
    font-family: var(--ff-primary-1);
    margin: -8px;
    margin: 20px 40px -8px 40px;
    border-radius: 20px 20px 0px 0px;
}

.img-text {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

img{
    width: 50px;
}

h1 {
    color: var(--clr-pink-1);
}

p {
    margin-left: 10px;
}

.social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    margin-left: 30px;
    
}

.social-icons img {
    width: 30px;
    padding: 5px;
    
    
}

.column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.column h3 {
    text-align: center;
}

.column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.column ul li {
    text-align: center;
}

.column ul li a:hover {
    color: var(--clr-pink-1);
}