@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --ff-primary-1: "Madimi One", sans-serif;
 
    --clr-white-1: #FFFFFF;
    --clr-black-1: #0B0B0A;
    --clr-pink-1: rgb(189, 106, 106);
    --clr-pink-2: rgba(197, 145, 145, 0.2);
    --clr-blue-1: #e6f8fd;
    --clr-shadow-1: hsla(0, 0%, 65%, 0.4);
    
 }

.header-text {
    font-family: var(--ff-primary-1);
    width: 40%;
    margin: 8rem auto;
}

.header-text h1 {
    font-size: 45px;
}
.header-text p {
    font-size: 20px;
}

.container {
    font-family: var(--ff-primary-1);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 4rem;
}

.service-card {
    width: 225px;
    height: 430px;
    background-color: var(--clr-pink-2);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
}

.service-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out .1s;
}

.service-card img {
    width: 80%;
    height: 35%;
    border-radius: 10px;
    margin-top: 20px;
}

.service-card h1 {
    font-size: 28px;
    text-align: start;
    margin-left: 22px;
}

.service-card p {
    border-top: 1.5px solid hsla(0, 0%, 73%, 0.4);
    padding-top: 15px;
    text-align: start;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 18px;
}

.service-btn {
    background-color: transparent;
    color: var(--clr-pink-1);
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

.service-btn:hover {
    border-color: var(--clr-pink-1);
}

.why-us-container {
    font-family: var(--ff-primary-1);
    width: 70%;
    height: 600px;
    display: flex;
    border-radius: 20px;
    background-color: var(--clr-pink-2);
    margin: 10rem auto;
    box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
}

.why-img{
    display: inline-flex;
    width: 50%;
}

.why-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.why-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-left: 4rem;
}

.why-text h1 {
    font-size: 45px;
}

.why-text p {
    font-size: 20px;
}