@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --ff-primary-1: "Madimi One", sans-serif;
 
    --clr-white-1: #FFFFFF;
    --clr-black-1: #0B0B0A;
    --clr-pink-1: rgb(189, 106, 106);
    --clr-pink-2: rgba(197, 145, 145, 0.2);
    --clr-blue-1: #e6f8fd;
    --clr-shadow-1: hsla(0, 0%, 65%, 0.4);
    
 }

.header-text {
    font-family: var(--ff-primary-1);
    width: 40%;
    margin: 8rem auto;
}

.header-text h1 {
    font-size: 45px;
}
.header-text p {
    font-size: 20px;
}

.container {
    font-family: var(--ff-primary-1);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.testimonial-card {
    width: 280px;
    height: 350px;
    background-color: var(--clr-pink-2);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 4px var(--clr-shadow-1);
}

.testimonial-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out .1s;
}

.testimonial-card img {
    width: 40%;
    height: 30%;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0px 0px 7px var(--clr-pink-1);
}

.testimonial-card h1 {
    font-size: 28px;
    text-align: center;
}

.testimonial-card .testimonial-txt {
    text-align: center;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 18px;
    padding-bottom: 30px;
}


.testimonial-btn:hover {
    border-color: var(--clr-pink-1);
}